.elementor-16 .elementor-element.elementor-element-ff236cc {
    --display: flex;
    --min-height: 76px;
    --flex-direction: column;
    --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --align-items: center;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 300px;
    --padding-right: 300px;
}

.elementor-16 .elementor-element.elementor-element-ff236cc:not(.elementor-motion-effects-element-type-background),
.elementor-16 .elementor-element.elementor-element-ff236cc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var( --e-global-color-11c98d0);
}

.elementor-16 .elementor-element.elementor-element-ff236cc,
.elementor-16 .elementor-element.elementor-element-ff236cc::before {
    --border-transition: 0.3s;
}

.elementor-16 .elementor-element.elementor-element-b116d7b {
    --display: grid;
    --min-height: 76px;
    --e-con-grid-template-columns: repeat(3, 1fr);
    --e-con-grid-template-rows: repeat(1, 1fr);
    --gap: 0px 0px;
    --grid-auto-flow: row;
    --justify-items: stretch;
    --align-items: center;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 16px;
    --padding-bottom: 16px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-16 .elementor-element.elementor-element-b116d7b,
.elementor-16 .elementor-element.elementor-element-b116d7b::before {
    --border-transition: 0.3s;
}

.elementor-16 .elementor-element.elementor-element-b116d7b.e-con {
    --align-self: center;
}

.elementor-16 .elementor-element.elementor-element-3b70a69 .hfe-site-logo-container,
.elementor-16 .elementor-element.elementor-element-3b70a69 .hfe-caption-width figcaption {
    text-align: left;
}

.elementor-16 .elementor-element.elementor-element-3b70a69 .widget-image-caption {
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-16 .elementor-element.elementor-element-3b70a69.elementor-element {
    --align-self: center;
}

.elementor-16 .elementor-element.elementor-element-3b70a69 .hfe-site-logo-container .hfe-site-logo-img {
    border-style: none;
}

body:not(.rtl) .elementor-16 .elementor-element.elementor-element-665f766 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-right: 40px;
}

body.rtl .elementor-16 .elementor-element.elementor-element-665f766 .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-left: 40px;
}

.elementor-16 .elementor-element.elementor-element-665f766 nav:not(.hfe-nav-menu__layout-horizontal) .hfe-nav-menu>li.menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.elementor-16 .elementor-element.elementor-element-665f766 ul.sub-menu {
    width: 220px;
}

.elementor-16 .elementor-element.elementor-element-665f766 .sub-menu a.hfe-sub-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.elementor-16 .elementor-element.elementor-element-665f766 {
    width: var( --container-widget-width, 389px);
    max-width: 389px;
    --container-widget-width: 389px;
    --container-widget-flex-grow: 0;
}

.elementor-16 .elementor-element.elementor-element-665f766.elementor-element {
    --align-self: center;
}

.elementor-16 .elementor-element.elementor-element-665f766 .hfe-nav-menu__toggle {
    margin: 0 auto;
}

.elementor-16 .elementor-element.elementor-element-665f766 a.hfe-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 a.hfe-sub-menu-item {
    font-family: "Open Sans", Sans-serif;
    font-size: 15px;
    font-weight: 600;
}

.elementor-16 .elementor-element.elementor-element-665f766 .menu-item a.hfe-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 .sub-menu a.hfe-sub-menu-item {
    color: var( --e-global-color-2546d54);
}

.elementor-16 .elementor-element.elementor-element-665f766 .sub-menu a.hfe-sub-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 .elementor-menu-toggle,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown li a.hfe-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown li a.hfe-sub-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown-expandible li a.hfe-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown-expandible li a.hfe-sub-menu-item {
    color: #000000;
}

.elementor-16 .elementor-element.elementor-element-665f766 .sub-menu,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown-expandible,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown .menu-item a.hfe-menu-item,
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown .menu-item a.hfe-sub-menu-item {
    background-color: #fff;
}

.elementor-16 .elementor-element.elementor-element-665f766 .sub-menu li.menu-item:not(:last-child),
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown li.menu-item:not(:last-child),
.elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown-expandible li.menu-item:not(:last-child) {
    border-bottom-style: solid;
    border-bottom-color: #c4c4c4;
    border-bottom-width: 1px;
}

.elementor-16 .elementor-element.elementor-element-665f766 div.hfe-nav-menu-icon {
    color: #F1F1F1;
}

.elementor-16 .elementor-element.elementor-element-665f766 div.hfe-nav-menu-icon svg {
    fill: #F1F1F1;
}

.elementor-16 .elementor-element.elementor-element-60f9bdc>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-16 .elementor-element.elementor-element-60f9bdc.elementor-element {
    --align-self: center;
}

.elementor-16 .elementor-element.elementor-element-60f9bdc .elementor-button {
    font-family: "Montserrat", Sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-radius: 40px 40px 40px 40px;
    padding: 10px 24px 10px 24px;
}

@media(min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-ff236cc {
        --width: 1920px;
    }
    .elementor-16 .elementor-element.elementor-element-b116d7b {
        --width: 1320px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-16 .elementor-element.elementor-element-ff236cc {
        --width: 100%;
    }
    .elementor-16 .elementor-element.elementor-element-b116d7b {
        --width: 100%;
    }
}

@media(max-width:1024px) {
    .elementor-16 .elementor-element.elementor-element-ff236cc {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-16 .elementor-element.elementor-element-b116d7b {
        --grid-auto-flow: row;
    }
    .elementor-16 .elementor-element.elementor-element-b116d7b.e-con {
        --align-self: stretch;
    }
    body:not(.rtl) .elementor-16 .elementor-element.elementor-element-665f766.hfe-nav-menu__breakpoint-tablet .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0px;
    }
    body .elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0px;
    }
    .elementor-16 .elementor-element.elementor-element-665f766 {
        --container-widget-width: 389px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 389px);
        max-width: 389px;
    }
}

@media(max-width:767px) {
    .elementor-16 .elementor-element.elementor-element-ff236cc {
        --padding-top: 0px;
        --padding-bottom: 0px;
        --padding-left: 0px;
        --padding-right: 0px;
    }
    .elementor-16 .elementor-element.elementor-element-b116d7b {
        --e-con-grid-template-columns: repeat(3, 1fr);
        --e-con-grid-template-rows: repeat(1, 1fr);
        --grid-auto-flow: row;
        --padding-top: 10px;
        --padding-bottom: 10px;
        --padding-left: 10px;
        --padding-right: 10px;
    }
    .elementor-16 .elementor-element.elementor-element-3b70a69 .hfe-site-logo .hfe-site-logo-container img {
        width: 75%;
    }
    body:not(.rtl) .elementor-16 .elementor-element.elementor-element-665f766.hfe-nav-menu__breakpoint-mobile .hfe-nav-menu__layout-horizontal .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-right: 0px;
    }
    body .elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-nav-menu__layout-vertical .hfe-nav-menu>li.menu-item:not(:last-child) {
        margin-bottom: 0px;
    }
    .elementor-16 .elementor-element.elementor-element-665f766 .sub-menu li a.hfe-sub-menu-item,
    .elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown li a.hfe-menu-item,
    .elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown-expandible li a.hfe-menu-item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown-expandible a.hfe-sub-menu-item,
    .elementor-16 .elementor-element.elementor-element-665f766 nav.hfe-dropdown li a.hfe-sub-menu-item {
        padding-left: calc( 10px + 20px);
        padding-right: 10px;
    }
    .elementor-16 .elementor-element.elementor-element-665f766 .hfe-dropdown .menu-item ul ul a.hfe-sub-menu-item,
    .elementor-16 .elementor-element.elementor-element-665f766 .hfe-dropdown-expandible .menu-item ul ul a.hfe-sub-menu-item {
        padding-left: calc( 10px + 40px);
        padding-right: 10px;
    }
    .elementor-16 .elementor-element.elementor-element-665f766 .hfe-dropdown .menu-item ul ul ul a.hfe-sub-menu-item,
    .elementor-16 .elementor-element.elementor-element-665f766 .hfe-dropdown-expandible .menu-item ul ul ul a.hfe-sub-menu-item {
        padding-left: calc( 10px + 60px);
        padding-right: 10px;
    }
    .elementor-16 .elementor-element.elementor-element-665f766 .hfe-dropdown .menu-item ul ul ul ul a.hfe-sub-menu-item,
    .elementor-16 .elementor-element.elementor-element-665f766 .hfe-dropdown-expandible .menu-item ul ul ul ul a.hfe-sub-menu-item {
        padding-left: calc( 10px + 80px);
        padding-right: 10px;
    }
    .elementor-16 .elementor-element.elementor-element-665f766 {
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 100%);
        max-width: 100%;
    }
    .elementor-16 .elementor-element.elementor-element-60f9bdc {
        width: var( --container-widget-width, 100%);
        max-width: 100%;
        --container-widget-width: 100%;
        --container-widget-flex-grow: 0;
    }
    .elementor-16 .elementor-element.elementor-element-60f9bdc .elementor-button {
        padding: 4px 8px 4px 8px;
    }
}